<section id="section1" class="cd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box-content">
                    <div class="col-md-offset-7 col-md-4 col-sm-offset-6 col-sm-5">
                        <div class="box-text">
                            <h2>HEY THERE, I’M Nicole.</h2>
                            <p>I’m a UX/UI designer passionate about digital mediums and the experiences created through them. I love to code just as much as I love to design, but I like to think my true talents lie in the ability to transform complex ideas and information into simple, yet delightful, experiences.</p>
                        </div>
                    </div>
                </div>
                <!--close box content-->
            </div>
        </div>
        <!--close row-->
    </div>
    <!--close container-->

<!--
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> What I Do </h1>
                <div class="col-md-4 col-sm-4">
                    <div class="box-text">
                        <h2>UI Design</h2>
                        <p>As a web designer, my job is to create an aesthetically pleasing interface without compromising function. It is an intricate balance, and I have yet to design a web site or app with which I am a 100% happy. But, each passing project teaches me a little more about what works, what doesn't, where to make compromises  and where to draw a hard line.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="box-text">
                        <h2>Front-end Development</h2>
                        <p>I love working with web technologies to build creative solutions. I am constantly looking for ways to write drier, cleaner, faster code while improving productivity. I embrace the challenge of keeping up with the ever-changing web and am continually impressed with the beautiful and ingenious solutions created with web languages. </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="box-text">
                        <h2>UX Design</h2>
                        <p>Rarely do I give clients exactly what they ask for because I always strive to give them something better — what they actually need. Every project I endeavor begins with user research and is ideated with UX methodologies and principles; a process which ensures a better user experience. Happy users = happy clients. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
</section>
<!-- cd-section -->
