	<section id="details" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="long-showcase" src="../../images/portfolio/Brand-Responsive-Showcase.jpg" alt="Image of Brand Site in different devices" style="margin-top:50px"/>
					<img class="long-showcase border" src="../../images/portfolio/Brand-Full-Page-Showcase.jpg" alt="Image of Brand site" />
				</div>
			</div>
		</div>
	</section>

	<section id="project" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<h1> DESCRIPTION </h1>
						<div class="col-md-8">
							<div class="box-text">
								<h2>Project Background</h2>
								<p>The brand site provides company employees and contractors easy access to branding guidelines and assets.</p>

								<p>The site is the defacto resource for the company brand and is heavily used. Because the site is password protected, the content has been replaced by placeholder images and lorem ipsum. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-text">
								<h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
                                <ul class="bullet-indent">
                                    <li>Bootstrap</li>
                                    <li>jQuery</li>
                                    <li>Grunt</li>
                                    <li>Less</li>
                                </ul>
							</div>
						</div>
					</div>
					<!--close box content-->
				</div>
			</div>
			<!--close row-->
		</div>
		<!--close container-->
	</section>