	<section id="details" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <img class="long-showcase border" src="../../images/portfolio/brand-slides/home.jpg" style="margin-top:100px" alt="" />
                    <img class="long-showcase border" src="../../images/portfolio/brand-slides/understanding.jpg" alt="" />
                    <img class="long-showcase border" src="../../images/portfolio/brand-slides/promise.jpg" alt="" />
                    <img class="long-showcase border" src="../../images/portfolio/brand-slides/personality.jpg" alt="" />
                    <img class="long-showcase border" src="../../images/portfolio/brand-slides/lighting.jpg" alt="" />
                    <img class="long-showcase border" src="../../images/portfolio/brand-slides/quiz.jpg" alt="" />
				</div>
			</div>
		</div>
	</section>

	<section id="project" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<h1> DESCRIPTION </h1>
						<div class="col-md-8">
							<div class="box-text">
								<h2>Project Background</h2>
								<p>This website serves as a fun way for Simplot employees to learn about the Company's new branding basics. The site features a piled page effect, and an interactive Polaroid gallery and quiz. Because the site is internal only, the content has been replaced by lorem ipsum.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-text">
								<h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
                                <ul class="bullet-indent">
                                    <li>Bootstrap</li>
                                    <li>jQuery</li>
                                    <li>Grunt</li>
                                    <li>Less</li>
                                </ul>
							</div>
						</div>
					</div>
					<!--close box content-->
				</div>
			</div>
			<!--close row-->
		</div>
		<!--close container-->
	</section>