    <section id="details" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="long-showcase" src="../../images/portfolio/Careers-Showcase.jpg" alt="Image of Careers Site" style="margin-top:100px"/>
					<img class="long-showcase border" src="../../images/portfolio/Careers-Full-Page-Showcase.jpg" alt="Image of Careers Site" />
				</div>
			</div>
		</div>
	</section>
  
    <section id="project" class="cd-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-content">
                        <h1> DESCRIPTION </h1>
                        <div class="col-md-8">
                            <div class="box-text">
                                <h2>Project Background</h2>
                                <p>The Simplot Careers site project started as a request from Human Resources to update the existing Careers pages on the main corporate website. There were two reasons for the request: 1) to make the pages appeal to millennials, and 2) to reduce the number of emails from users asking how to apply.</p>

                                <p>After conducting user research and assessing the constraints of the main website, I suggested the Careers section be broken out into a separate microsite and pitched the design above. Creating a new site allowed the incorporation of compelling images, a bright color scheme, and a long scroll layout that was more mobile-friendly — all important aspects of appealing to millennials according to research.</p>

                                <p>Since the launch of the new site:</p>
                                    <ul class="bullet-indent">
                                        <li>the number of frustrated user emails dropped dramatically</li>
                                        <li>the site bounce rate decreased 25%</li>
                                        <li>page views increased 36%</li>
                                        <li>over half of the exit traffic occurs on the Apply Now page — indicating a high conversion rate to the Careers portal to apply</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-text">
                                <h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
                                <ul class="bullet-indent">
                                    <li>Bootstrap</li>
                                    <li>jQuery</li>
                                    <li>Grunt</li>
                                    <li>Sass</li>
                                </ul>
                                <h2><i class="fa fa-link" aria-hidden="true"></i>Links</h2>
                                <a href="http://www.simplot.com/careers" target="_blank">View site</a>
                            </div>
                        </div>
                    </div>
                    <!--close box content-->
                </div>
            </div>
            <!--close row-->
        </div>
        <!--close container-->
    </section>