
	<section id="details" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="long-showcase" src="../../images/portfolio/Fall-Harvest-Showcase.jpg" style="margin-top:50px" alt="Image of Brand Education site pages" />
					<img class="long-showcase border" src="../../images/portfolio/Fall-Harvest-Full-Page-Showcase.jpg" alt="Image of Brand Education site pages" />
				</div>
			</div>
		</div>
	</section>

	<section id="project" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<h1> DESCRIPTION </h1>
						<div class="col-md-8">
							<div class="box-text">
								<h2>Project Background</h2>
								<p>The Fall Harvest site project started as a Photoshop file from a third party. The initial design had all of the content above the fold with links to the videos, recipes, and marketing materials. Concerned the design would be hard to implement for mobile and believing the content would be more effective with a one-page layout, I created a rough one-page prototype to present to the business who agreed that it was a better direction.</p>

								<p>The design above is a combination of my prototype and the agency's revisions to fit the new layout.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-text">
								<h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
                                <ul class="bullet-indent">
                                    <li>Bootstrap</li>
                                    <li>jQuery</li>
                                    <li>Grunt</li>
                                    <li>Sass</li>
                                </ul>
							</div>
						</div>
					</div>
					<!--close box content-->
				</div>
			</div>
			<!--close row-->
		</div>
		<!--close container-->
	</section>