	<section id="details" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="long-showcase" src="../../images/portfolio/Spread-Rates-Showcase.jpg" style="margin-top:100px" alt="Image of Best Spread Rates app" />
				</div>
			</div>
		</div>
	</section>

	<section id="project" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<h1> DESCRIPTION </h1>
						<div class="col-md-8">
							<div class="box-text">
								<h2>Project Background</h2>
								<p>This app is a sales tool for BEST&reg; fertilizer products. Available for iOS and Android, it is the first mobile app developed within the company. </p>
                                
								<p>Shortly after it's launch, the app was named one of the top five sales tools by one of Simplot's largest distributors and continues to be popular among sales reps.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-text">
                                <h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
                                <ul class="bullet-indent">
                                    <li>jQuery UI</li>
                                    <li>PhoneGap</li>
                                </ul>
							</div>
						</div>
					</div>
					<!--close box content-->
				</div>
			</div>
			<!--close row-->
		</div>
		<!--close container-->
	</section>