
    <section id="details" class="cd-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="long-showcase" src="../../images/portfolio/Good-Choices-Showcase.jpg" alt="Image of Brand Education site pages" />
                </div>
            </div>
        </div>
    </section>

    <section id="project" class="cd-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-content">
                        <h1> DESCRIPTION </h1>
                        <div class="col-md-8">
                            <div class="box-text">
                                <h2>Project Background</h2>
                                <p>The Good Choices microsite project was handed to me as a Photoshop file from a third party agency. The contractors provided some great graphics and a fun monochromatic color scheme, however, the beautiful food images were overshadowed by embedded YouTube videos, and the design needed to rely heavily on background images which would make load times poor.</p>

                                <p>I created the layout above as an alternative. I placed the YouTube videos in modals, traded the background images for a solid light gray, and encircled the food images; providing a cleaner interface with more focus on the food. I also added icons next to the "view recipes" and "save money" links to create stronger calls-to-action. As you scroll down the page, elements roll or pop into place adding to the playfulness of the circles. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-text">
                                <h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
                                <ul class="dependancies">
                                    <li>Bootstrap</li>
                                    <li>jQuery</li>
                                    <li>Grunt</li>
                                    <li>Sass</li>
                                </ul>
                                <h2><i class="fa fa-link" aria-hidden="true"></i>Links</h2>
                                <a href="http://www.simplotfoods.com/goodchoices/" target="_blank">View site</a>
                            </div>
                        </div>
                    </div>
                    <!--close box content-->
                </div>
            </div>
            <!--close row-->
        </div>
        <!--close container-->
    </section>
