	<section id="details" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="long-showcase" src="../../images/portfolio/MHL-Responsive-Showcase.jpg" style="margin-top:50px" alt="Image of My Holiday Lawn Site" />
					<img class="long-showcase border" src="../../images/portfolio/MHL-Full-Page-Showcase.jpg" alt="Image of My Holiday Lawn Site" />
				</div>
			</div>
		</div>
	</section>
	<section id="project" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<h1> DESCRIPTION </h1>
						<div class="col-md-8">
							<div class="box-text">
								<h2>Project Background</h2>
								<p>The My Holiday Lawn project spawned from a Word document the business created to convey the website look. The design above is my translation of the document's contents to a one-page site.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-text">
								<h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
                                <ul class="bullet-indent">
                                    <li>Bootstrap</li>
                                    <li>jQuery</li>
                                    <li>Grunt</li>
                                    <li>Less</li>
                                </ul>
							</div>
						</div>
					</div>
					<!--close box content-->
				</div>
			</div>
			<!--close row-->
		</div>
		<!--close container-->
	</section>