
	<section id="details" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="long-showcase" src="../../images/portfolio/Simplot-com-Responsive-Showcase.jpg" alt="Image of Simplot.com Site" style="margin-top:50px" />
				</div>
			</div>
		</div>
	</section>

	<section id="project" class="cd-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-content">
						<h1> DESCRIPTION </h1>
						<div class="col-md-8">
							<div class="box-text">
								<h2>Project Background</h2>
								<p>Simplot.com was an update of the Simplot corporate website designed to align with new branding standards. I refactored the code to make this site fully responsive and bettered user experience through improved navigation. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box-text">
								<h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
								<ul class="bullet-indent">
                                    <li>Bootstrap</li>
                                    <li>jQuery</li>
                                    <li>Grunt</li>
                                    <li>Less</li>
                                </ul>
							</div>
						</div>
					</div>
					<!--close box content-->
				</div>
			</div>
			<!--close row-->
		</div>
		<!--close container-->
	</section>