
    <section id="details" class="cd-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="long-showcase border" src="../../images/portfolio/WWL-Full-Page-Showcase.jpg" style="margin-top:100px" alt="Image of Film Festival site" />
                </div>
            </div>
        </div>
    </section>

    <section id="project" class="cd-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-content">
                        <h1> DESCRIPTION </h1>
                        <div class="col-md-8">
                            <div class="box-text">
                                <h2>Project Background</h2>
                                <p>I volunteer my time to help the non-profit Winter Wildlands with issues or changes on their Wordpress site. I built the microsite above in response to a request to update the look of the Film Festival pages on the organization's main website.</p>

                                <p>The worldwide film festival is a major event for the non-profit, and I felt a microsite would better serve the organization for several reasons:
                                    <ul class="bullet-indent">
                                        <li>the ability to implement a friendly URL</li>
                                        <li>better SEO through targeted content</li>
                                        <li>responsive layout</li>
                                        <li>the design could be more fun to match the energy of the film festival</li>
                                    </ul>
                                <br>
                                <p>The site prototype is in evaluation for implementation.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-text">
                                <h2><i class="fa fa-wrench" aria-hidden="true"></i>Built With</h2>
                                <ul class="bullet-indent">
                                    <li>Bootstrap</li>
                                    <li>jQuery</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--close box content-->
                </div>
            </div>
            <!--close row-->
        </div>
        <!--close container-->
    </section>