<section id="section6" class="cd-section" ng-hide="hideFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <footer class="box-content">
                    <div class="footer-social">
                        <a href="https://www.behance.net/liselnicole" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                        <a href="https://www.linkedin.com/in/liseljensen" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.pinterest.com/liselnicole/geeky-web-development/" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>